.icon {
    pointer-events: none;

    &--rotate {
        &-deg45 {
            transform: rotate(45deg);
        }

        &-deg90 {
            transform: rotate(90deg);
        }

        &-deg180 {
            transform: rotate(180deg);
        }

        &-deg270 {
            transform: rotate(270deg);
        }

        &-deg360 {
            transform: rotate(360deg);
        }
    }
}
