/* Базовые стили */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ::selection {
    color: var(--cl-white);
    background: var(--cl-cyan);
} */

:focus {
    outline: 1px solid var(--cl-gold);
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

svg:not(:root) {
    overflow: inherit;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cl-white);
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    position: relative;
    color: var(--cl-global);
    fill: var(--cl-global);
    vertical-align: top;
    backface-visibility: hidden;
    font-family: var(--base-font);
}

main {
    position: relative;
    min-width: var(--mobile-sm-size-min);
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;

    /* При использовании LQIP изображениям добавляется blur через фильтры.
    Это правило добавляет им плавное исчезновение при окончании подгрузки изображения. */
    transition: filter 1000ms;
}

a {
    color: inherit;
    fill: inherit;
    text-decoration: none;
    transition: all var(--time) var(--timing-function);
    border-bottom: 1px solid var(--cl-global);

    &:hover {
        text-decoration: none;
    }
}

strong,
b {
    font-weight: bold;
    line-height: 20px;

    i,
    em {
        font-weight: bold;
        font-style: italic;
    }
}

em,
i {
    font-style: italic;

    strong,
    b {
        font-weight: bold;
        font-style: italic;
    }
}

p {
    line-height: 24px;
    margin: 0 0 calc(var(--g) / 4);
}

:--heading {
    margin: calc(var(--g) / 2) 0;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

h4,
h5,
h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

hr {
    background: none;
    border: none;
    border-bottom: 1px solid var(--cl-grey);
    display: block;
    position: relative;
    height: 1px;
    margin: calc(var(--gs) * 3) 0;
    line-height: 0;
    font-size: 0;
}

ul,
ol {
    li {
        position: relative;
        list-style: none outside;
    }
}

q,
blockquote {
    margin-bottom: calc(var(--g) / 2);
    font-weight: bold;
}

fieldset {
    border: 1px solid var(--cl-divider-grey);
    border-radius: 4px;
    padding: calc(var(--gs) * 2) calc(var(--gs) * 2) calc(var(--gs) * 1.5);

    @media (--tablet-lg) {
        padding: var(--gs) 0 calc(var(--gs) * 1.5);
    }

    @media (--tablet-lg) {
        padding: var(--gs) 0;
    }

    legend {
        position: relative;
        padding: 0 calc(var(--gs) * 2.5);
        font-size: 14px;
        line-height: 20px;
        color: var(--cl-grey);

        @media (--tablet-lg) {
            padding: 0 calc(var(--gs) * 1.5);
        }

        @media (--tablet) {
            padding: 0 calc(var(--gs) * 4.5);
            font-size: 11px;
            line-height: 15px;
        }
    }
}

:--btn {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: inherit;
    fill: inherit;
    border-radius: 1px;

    &:hover {
        color: inherit;
        fill: inherit;
    }

    &:disabled {
        color: var(--cl-grey);
        fill: var(--cl-grey);
    }
}

:--input {
    font-family: var(--base-font);
    font-size: 16px;
    line-height: 24px;
    border-radius: 1px;

    /* Прячет крестик очистки поля в IE */

    &::-ms-clear {
        display: none;
    }
}

input[type='number'] {
    padding: 0 calc(var(--gs) * 2);
    border: 1px solid var(--cl-global);
    line-height: calc(var(--gs) * 4);
    text-align: center;

    /* Прячет стрелки управления поля number в Firefox */
    appearance: textfield;

    /* Прячет стрелки управления поля number в Chrome, Safari и Opera */

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }
}

textarea {
    resize: none;
}

a,
:--btn,
:--input {
    font-family: var(--base-font);

    &:disabled,
    &.is-disabled {
        cursor: default;
        pointer-events: none;
    }
}

.html-modal-open {
    @media (--desktop-min) {
        padding-right: 17px;
    }
}
